@font-face {font-family: 'Carnas-Bold';src: url('/static/webfonts/30F44B_0_0.eot');src: url('/static/webfonts/30F44B_0_0.eot?#iefix') format('embedded-opentype'),url('/static/webfonts/30F44B_0_0.woff2') format('woff2'),url('/static/webfonts/30F44B_0_0.woff') format('woff'),url('/static/webfonts/30F44B_0_0.ttf') format('truetype'),url('/static/webfonts/30F44B_0_0.svg#wf') format('svg');}
 
  
@font-face {font-family: 'Carnas-Light';src: url('/static/webfonts/30F44B_1_0.eot');src: url('/static/webfonts/30F44B_1_0.eot?#iefix') format('embedded-opentype'),url('/static/webfonts/30F44B_1_0.woff2') format('woff2'),url('/static/webfonts/30F44B_1_0.woff') format('woff'),url('/static/webfonts/30F44B_1_0.ttf') format('truetype'),url('/static/webfonts/30F44B_1_0.svg#wf') format('svg');}

body {font-family: 'Carnas-Light', sans-serif;color: #6a6a6a;font-size:1.1rem; font-weight: 100;}
h1, h2, h3, h4, h5, h6 {font-family: 'Carnas-Light', sans-serif;font-weight: 100;}

ul.no-style {
list-style-type: none;
}

ul.no-style li:before {
content: '\2014';
position: absolute;
margin-left: -20px;
}

li.nav-item {
  font-size:1rem;
}

.navbar {
  padding: .5rem 0;
}
.navbar-toggler {
    background:#00ad69;
}
.navbar-toggler-left {
  left:0;
}
.navbar-inverse .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.breadcrumbs a {
  color:#00ad69;
}
